* {background-color: hotpink;}

h2
 {color: red;
font-size: 20px;
background-color: green;
line-height: 3;
display: inline-block;
font-family: 'Viaoda Libre', cursive;
font-weight: 900;
padding: 50px;}

.lalala {color: salmon;}